@import "variables";

//создаем mixin для заголовка главной страницы
@mixin head-lora-32 {
  font-family: Lora, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: $green-text-color;
}
//создаем mixin для заголовка страниц каталога, товаров и корзины - у каталога другой цвет
@mixin head-lora-36 {
  font-family: Lora, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #000000;
}
